<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="logback-appender.xml"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="CONSOLE_INFO_FILE"/>
    <appender-ref ref="CONSOLE_WARN_FILE"/>
    <appender-ref ref="CONSOLE_ERROR_FILE"/>
  </root>

<!-- 추후 필터 구현 후 연결 예정&ndash;&gt;-->
<!--  <logger name="Filter" level="INFO" additivity="false">-->
<!--    <appender-ref ref="API_INFO_FILE"/>-->
<!--    <appender-ref ref="API_WARN_FILE"/>-->
<!--    <appender-ref ref="API_ERROR_FILE"/>-->
<!--  </logger>-->

  <logger name="org.hibernate" level="ERROR"/>
  <logger name="org.springframework.web" level="INFO"/>
</configuration>