<?xml version="1.0" encoding="UTF-8"?>
<included>
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

  <property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%clr(%-5level)] [%thread] [%logger{1}] - %msg%n"/>

  <property name="INFO_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%X{request_id:-NORequestID}] [%X{user_id:-unknown}] [%thread] [%logger{1}] - %msg%n"/>
  <property name="WARN_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%X{request_id:-NORequestID}] [%X{user_id:-unknown}] [%thread] [%logger{1}] - %msg%n"/>
  <property name="ERROR_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%X{request_id:-NORequestID}] [%X{user_id:-unknown}] [%thread] [%logger{1}] - %msg%n"/>

  <property name="API_FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{1}] - %msg%n"/>
  <property name="API_CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%clr-5level] [%thread] [%logger{1}] - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
    </layout>
  </appender>

  <appender name="API_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${API_CONSOLE_LOG_PATTERN}</Pattern>
    </layout>
  </appender>

  <appender name="CONSOLE_INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/console/info-${SERVER_INFO}-console.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/console/info-${SERVER_INFO}-console-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${INFO_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE_WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/console/warn-${SERVER_INFO}-console.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/console/warn-${SERVER_INFO}-console-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${WARN_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/console/error-${SERVER_INFO}-console.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/console/error-${SERVER_INFO}-console-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${ERROR_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="API_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/api/${SERVER_INFO}-api.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/api/${SERVER_INFO}-api-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${API_FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <turboFilter class="ch.qos.logback.classic.turbo.MatchingFilter">
    <name>ExcludePrometheus</name>
    <onMatch>DENY</onMatch>
    <onMismatch>NEUTRAL</onMismatch>
    <regex>/actuator/prometheus</regex>
  </turboFilter>
</included>