<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="logback-appender.xml"/>
  <property name="LOG_PATH" value="${user.home}/info-local" />
  <property name="SERVER_INFO" value="local" />

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="CONSOLE_FILE"/>
  </root>

  <logger name="org.hibernate" level="ERROR"/>
  <logger name="org.springframework.web" level="INFO"/>
</configuration>