# .github/workflows/dev-ci.yml
name: CI-Dev

on:
  pull_request:
    branches: [ "dev" ]


jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create application-dev.yml
        if: contains(github.ref, 'dev')
        run: |
          mkdir -p ./src/main/resources
          echo "${{ secrets.PROPERTIES_DEV }}" > ./src/main/resources/application-dev.yml
        shell: bash

      - name: Create .p8
        if: contains(github.ref, 'dev')
        run: |
          echo "${{ secrets.APPLE_AUTH }}" > ./src/main/resources/AUTHKEY_JUINJAG.p8
        shell: bash

      - name: Build With Gradle
        run: ./gradlew build -x test
